
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <h6 id="name"></h6>
  </div>
</div>
<script type="text/javascript">
  const currenDate = new Date();
document.getElementById("name").innerHTML = ("© " + currenDate.getFullYear() + " Evaldas Pranckevicius");
</script>
</body>
</html>
