<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <link rel="icon" href="images/favicon2.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Journal. Write your thoughts everyday.</title>
  <meta name="description" content="Write your toughts everyday in this journal to remember what's impotrant.">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
      <form action="/logout" method="post">
        <button class="btn btn-primary Logging" type="submit" name="button">Log Out</button>
      </form>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/home">HOME</a></li>
          <li id="about"><a href="/about">ABOUT</a></li>
          <li id="contact"><a href="/contact">CONTACT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
